/*-------------------------------------------*/
/*--------------PURPLE CONTAINER-----------*/
/*-----------REUSABLE FOR BLACK CONTAINER----------*/

.container {
  margin-top: 5%;
  background-color: rgb(216, 244, 255);
  border-radius: 5px;
}

.leftSide {
  max-width: 70%;
  padding: 5% 0 5% 5%;
  float: left;
}

.black,
.purple {
  width: 65%;
  background-color: rgb(105, 51, 155);
  font-size: 14px;
  float: left;
  border-radius: 7px;
  background-image: url(/testimonials-grid-section-main/images/bg-pattern-quotation.svg);
  background-size: 150px;
  background-repeat: no-repeat;
  background-position-x: 80%;
}

.black_customer_image,
.customer_image {
  border: 2px solid rgba(219, 39, 219, 0.678);
  border-radius: 50%;
  float: left;
}

.black_customer_img_name,
.customer_img_name {
  display: flex;
  align-items: center;
}

.black_customer_name,
.customer_name {
  margin-left: 2%;
}

.black_container,
.purple_container {
  margin: 5%;
}

/*-------------------------------------------*/
/*------------REUSABLE COMPONENTS------------*/
/*-------------------------------------------*/

.black_customer_name,
.black_customer_big_comment,
.white_customer_name,
.white_customer_big_comment,
.gray_customer_name,
.gray_customer_big_comment,
.customer_name,
.customer_big_comment {
  color: white;
  font-weight: 400;
}
.black_customer_graduation,
.black_customer_small_comment,
.white_customer_graduation,
.white_customer_small_comment,
.gray_customer_graduation,
.gray_customer_small_comment,
.customer_graduation,
.customer_small_comment {
  color: rgb(207, 207, 207);
  font-weight: 400;
  font-size: 11px;
  padding-top: 2%;
}
/*--------------RIGHT SIDE---------------*/
.rightSide {
  max-width: 25%;
  padding: 5% 5% 0 5%;
  float: right;
}

/*-------------------------------------------*/
/*-------------GRAY_CONTAINER-------------*/
/*---------REUSABLE FOR WHITE CONTAINER----------*/

.white,
.gray {
  width: 29%;
  float: right;
  font-size: 14px;
  border-radius: 7px;
  background-color: #5e5966;
}

.white_container,
.gray_container {
  margin: 13% 10% 10% 10%;
}

.white_customer_image,
.gray_customer_image {
  float: left;
  border-radius: 50%;
}

.white_customer_img_name,
.gray_customer_img_name {
  display: flex;
  align-items: center;
}

.white_customer_name,
.gray_customer_name {
  margin-left: 4%;
}

.white_customer_big_comment,
.white_customer_small_comment,
.gray_customer_big_comment,
.gray_customer_small_comment {
  margin-top: 4%;
}

/*-------------------------------------------*/
/*-------------WHITE_CONTAINER-------------*/
/*-------------------------------------------*/

.white {
  float: left;
  background-color: rgb(255, 255, 255);
}

.white_customer_graduation,
.white_customer_small_comment {
  color: rgb(146, 143, 143);
}

.white_customer_name,
.white_customer_big_comment {
  color: #5e5966;
}

/*-------------------------------------------*/
/*-------------BLACK_CONTAINER-------------*/
/*-------------------------------------------*/

.black {
  float: right;
  background-color: rgb(43, 23, 23);
  background-image: none;
}
